@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'lato-heavy';
  src: url("../fonts/lato-heavy/lato-heavy.eot");
  src: url("../fonts/lato-heavy/lato-heavy.eot") format("embedded-opentype"),
       url("../fonts/lato-heavy/lato-heavy.woff2") format("woff2");
}

@font-face {
  font-family: 'lato-light';
  src: url("../fonts/lato-light/lato-light.eot");
  src: url("../fonts/lato-light/lato-light.eot") format("embedded-opentype"),
       url("../fonts/lato-light/lato-light.woff2") format("woff2");
}

@font-face {
  font-family: 'lato-thin';
  src: url("../fonts/lato-thin/lato-thin.eot");
  src: url("../fonts/lato-thin/lato-thin.eot") format("embedded-opentype"),
       url("../fonts/lato-thin/lato-thin.woff2") format("woff2"),
       url("../fonts/lato-thin/lato-thin.woff") format("woff");
}

@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/lato-bold/lato-bold.eot");
  src: url("../fonts/lato-bold/lato-bold.eot") format("embedded-opentype"),
       url("../fonts/lato-bold/lato-bold.woff2") format("woff2");
}

@font-face {
  font-family: 'lato-thin';
  src: url('../fonts/Lato-Thin.ttf');
  src: url('../fonts/lato-thin.eot') format('embedded-opentype')
}

@font-face {
  font-family: 'lato-semibold';
  src: url('../fonts/lato-semibold.eot');
  src: url('../fonts/lato-semibold.eot') format('embedded-opentype'),
       url('../fonts/lato-semibold.woff2') format('woff2'),
       url('../fonts/lato-semibold.woff') format('woff'),
       url('../fonts/lato-semibold.ttf') format('truetype'),
       url('../fonts/lato-semibold.svg#lato-semibold') format('svg');
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProBold';
  src: url("../fonts/MyriadProBold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GeorgiaItalic';
  src: url('../fonts/GeorgiaItalic.eot');
  src: url('../fonts/GeorgiaItalic.eot') format('embedded-opentype'),
       url('../fonts/GeorgiaItalic.woff2') format('woff2'),
       url('../fonts/GeorgiaItalic.woff') format('woff'),
       url('../fonts/GeorgiaItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserratlight/montserratlight.eot');
  src: url('../fonts/montserratlight/montserratlight.eot') format('embedded-opentype'),
       url('../fonts/montserratlight/montserratlight.woff2') format('woff2'),
       url('../fonts/montserratlight/montserratlight.woff') format('woff'),
       url('../fonts/montserratlight/montserratlight.ttf') format('truetype'),
       url('../fonts/montserratlight/montserratlight.svg#montserratlight') format('svg');
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container_block {
  margin-right: auto;
  margin-left: auto;
}

body,html {
  font-family: 'Lato';
  font-size: 16px;
  width: 1600px;
  margin: 0 auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
} 


ul {
  list-style: none;
}

select {
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

 /* HEADER */

.header {
  background: url("../img/header-background.png") center center no-repeat;
  height: 945px;
  background-size: cover;
  text-align: center;
}



.header__background {
  background: rgba(0, 0, 0, 0.83);
  height: 945px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba( 255, 255, 255, 0.15);
}

.header__menu {
  width: 52.8%;
}

.header__menu ul {
  display: flex;
  justify-content: space-between; 
}

.header__menu ul > li > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 36px 0 34px 0;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.header__menu ul > li > a:hover {
  border-bottom: 1px solid #ffffff;
}

.header__text {
  padding: 345px 0 0 0;
}

.header__text h1 {
  font-family: 'MyriadProBold', Arial, sans-serif;
  font-size: 4.5rem;
  color: #ffffff;
  /* margin-bottom: 6px; */
}

.header__text p {
  font-family: 'GeorgiaItalic', Arial, sans-serif;
  font-size: 2rem;
  color: #ffffff;
  line-height: 47px;
}


.member {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 120px;
  width: 100%;
  z-index: 5;
}
.member__login, .member__register {
  width: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease 0.1s;
}
.member__login a, .member__register a {
  text-transform: uppercase;
  font-family: "Lato-Black_0", sans-serif;
  font-size: 1.3rem;
  display: block;
  padding-top: 45px;
}
.member__login {
  text-align: center;
  background-color: #21424a;
}
.member__login:hover {
  background-color: #31616d;
}
.member__login:hover::after {
  background-color: #31616d;
}
.member__login:focus {
  background-color: #193238;
}
.member__login:focus::after {
  background-color: #193238;
}
.member__login a {
  padding-left: 200px;
}
.member__login::after {
  content: "";
  display: block;
  height: 100%;
  width: 40px;
  background: #21424a;
  top: 0;
  right: 0;
  position: absolute;
  transform: skew(-13deg, 0);
  z-index: 1;
  transition: all 0.2s ease 0.1s;
}
.member__register {
  text-align: center;
  background-color: #2fac6c;
}
.member__register:hover {
  background-color: #3ac980;
}
.member__register:hover::before {
  background-color: #3ac980;
}
.member__register a {
   padding-right: 200px; 
}
.member__register::before {
  content: "";
  display: block;
  height: 100%;
  width: 40px;
  background: #2fac6c;
  top: 0;
  left: 0;
  position: absolute;
  transform: skew(-13deg, 0);
  transition: all 0.2s ease 0.1s;
}

.domain {
  text-align: center;
  padding: 85px 0 92px 0;
}

.domain_container {
  width: 74%;
  margin: 0 auto;
}

.domain_title {
  font-family: 'lato-heavy', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.domain_comment {
  font-family: 'montserratlight', Arial, sans-serif;
  font-size: 16px;
  color: #a2a2a2;
  margin-bottom: 49px;
  letter-spacing: -0.1px;
}

.domain__input_block {
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.domain__input_block select,
.domain__input_block_www {
  font-family: 'lato-regular', Arial, sans-serif;
  font-size: 16px;
  color: #cbcbcb;
}

.domain__input_block_www {
  width: 70px;
}

.domain__input_block 
input[type="text"]::placeholder {
  font-family: 'lato-semibold', Arial, sans-serif;
  font-size: 15px;
  color: #868686;
  height: 48px;
}

.domain__input_block input[type="text"],
.domain__input_block select {
  height: 32px;
  border: none;
}

.domain__input_block input[type="text"] {
  width: calc(100% - 155px);
  padding: 0 15px;
  outline: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.domain__input_block select {
  appearance: none;
  -webkit-appearance: none;
  padding: 0 15px;
  width: 85px;
  z-index: 1;
  background: transparent;
}

.domain__select_block:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 1rem;
  width: 0.3rem;
  height: 0.3rem;
  margin-bottom: -1.2rem;
  border-top: 1px solid #ced2d5;
  border-left: 1px solid #ced2d5;
  background: #fff;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
      transform: rotate(225deg);
  z-index: -1;
}

.domain__select_block {
  position: relative;
}

.domain__select_block .domain__select_block_icons {
  position: absolute;
  right: 15px;
  top: 50%;
  color: #cbcbcb; 
}

.domain_tbl {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 16px 0;    
  width: 100%;    
  font-family: 'lato-regular', Arial, sans-serif;
  font-size: 14px;
  color: #cbcbcb;
}

.tbl_cell {
  padding: 30px 10px;
  position: relative;
  width: 25%;
}

.tbl_row:first-child .tbl_cell:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 95%;
  background: rgba(0, 0, 0, 0.15);
  right: 0;
  bottom: 0;
  margin: 0 6px;  
}


.tbl_row:first-child .tbl_cell:first-child:after {
  width: 85%;
}

.tbl_row:first-child .tbl_cell:last-child:after {
  width: 85%;
  left: 0;
  right: auto;
}

td:not(:last-child):before {
  content: "";
  position: absolute;
  width: 1px;
  background: rgba(0, 0, 0, 0.15);
  right: 0;
  top: 0;
  bottom: 0;
  margin: 5px 0;
}

.tbl_row:first-child .tbl_cell {
padding: 20px 10px 40px 10px; 
}

.tbl_row:last-child .tbl_cell {
padding: 40px 10px 20px 10px; 
}

.packages {
  height: 766px;
  position: relative;
  border-bottom: 2px dotted #d4d4d4;
}

.packages:before {
  background: url('../img/packages_bg.jpg') no-repeat center top;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.packages__background {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5) repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2) 1px, transparent 5px, transparent 6px);
  background-size: cover;
  z-index: 0;
}

.packages__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.package-item {
  margin-top: 100px;
  width: 255px;
  min-height: 565px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  text-align: center;
  transition: 0.4s;
}
.basic-package:hover {
  box-shadow: 0 5px 10px #f9d423;
}

.basic-package {
  border-top: 5px solid #f9d423;
}

.normal-package:hover {
  box-shadow: 0 5px 10px #7f8c8d;
}

.normal-package {
  border-top: 5px solid #7f8c8d;
}

.big-package:hover {
  box-shadow: 0 5px 10px #f85f40;
}

.big-package {
  border-top: 5px solid #f85f40;
}

.biggest-package:hover {
  box-shadow: 0 5px 10px #1abc9c;
}

.biggest-package {
  border-top: 5px solid #1abc9c;
}

.package-item h3 {
  color: #282828;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 34px;
  margin-bottom: 19px;
}

.package-diagram__circle {
  position: relative;
  top: 36px;
  right: 3px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 6px solid;
  margin: 0 auto;
}

.basic-package .quart-circle {
  border-color: #f9d423 transparent transparent transparent;
  transform: rotate(45deg);
}

.half-circle {
  border-color: #7f8c8d #7f8c8d transparent transparent;
  transform: rotate(45deg);
}

.quarters-circle {
  border-color: #f85f40 #f85f40  #f85f40 transparent;
  transform: rotate(45deg);
}

.full-circle {
  border-color: #1abc9c #1abc9c  #1abc9c #1abc9c;
  transform: rotate(45deg);
}

.fa {
  font-size: 1.7rem;
  font-weight: 400;
  position: relative;
  right: 2px;
}

.basic-package .fa-anchor {
  color: #f9d423;
}

.normal-package .fa-star-half-o {
  color: #7f8c8d;
}

.big-package .fa-star {
  color: #f85f40;
}

.biggest-package .fa-diamond {
  color: #1abc9c;
}

table.package-description {
  width: 200px;
  border-collapse: collapse;
  margin: 0 auto 30px;
  text-align: left;
  border-top:1px solid #dfdfdf;
  border-bottom:1px solid #dfdfdf;
}

.package-description td:first-child {
  color: #b4b4b4;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  padding: 11px 0;
}

.package-description td:last-child {
  font-family: "Lato";
  font-weight: 700;
  text-align: right;
}

.basic-package .package-description td:last-child {
  color:#f9d423;
}

.normal-package .package-description td:last-child {
  color:#7f8c8d;
}

.big-package .package-description td:last-child {
  color:#f85f40;
}

.biggest-package .package-description td:last-child {
  color:#1abc9c;
}

.package-cost {
  color: #2c2c2c;
  font-family: "Lato";
  font-size: 28px;
  margin: 0 auto;
  font-weight: 700;
  padding-bottom: 7px;
  max-width: 70px;
}

.basic-package .package-cost {
  border-bottom: 4px solid #f9d423;
}

.normal-package .package-cost {
  border-bottom: 4px solid #7f8c8d;
}

.big-package .package-cost {
  border-bottom: 4px solid #f85f40;
}

.biggest-package .package-cost {
  border-bottom: 4px solid #1abc9c;
}

.package-cost sup {
  color: #2c2c2c;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;

}

.package-cost span {
  color: #8d8d8d;
  font-family: "Lato";
  font-weight: 400;
  font-size: 13px;
}

.package-item .select-plan {
  display: block;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #282828;
  margin-top: 18px;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.basic-package .select-plan:hover {
  color: #f9d423;
}

.normal-package .select-plan:hover {
  color: #7f8c8d;
}

.big-package .select-plan:hover {
  color: #f85f40;
}

.biggest-package .select-plan:hover {
  color: #1abc9c;
}

.about-us {
  padding: 100px 0 103px 0;
}

.about-us__container {
  display: flex;
  justify-content: space-between;
}

.about-us__text {
  padding-right: 100px;
  width: 45%;
  border-right: 2px dotted #d4d4d4;
}

.about-us__text p {
  color: #747474;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 27.08px;
}

.about-us__text h2 {
  color: #303030;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
}

.about-us__text h2 span {
  font-family: 'lato-semibold', Arial, sans-serif;
}

.our-team {
  padding-left: 100px;
  width:55%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.member-avatar {
  padding-top: 10px;
}

.member-avatar img {
  border-radius: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.our-team__member {
  text-align: center;
  width: 120px;
  border-radius: 10%;
}

.our-team__member h3 {
  color: #303030;
  font-family: "Lato", 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
  margin: 0 auto;
}

.our-team__member span {
  color: #8e8e8e;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}

.our-team__member:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.social-links {
  margin-top: 10px;
}

.social-links li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-link .fa {
  color: #bfbfbf;
  font-size: 18px;
  font-weight: 400;
}

.social-link.active i {
  color: #1f89ba;
}

.social-link:hover i {
  color: #1f89ba;
}

.comments {
  background: #303030 url("../img/comments_bg.jpg") 100% 70% no-repeat;
  background-size: cover;
}

.container_block {
  margin: 0 auto;
  width:80%;
}

.comment_bg {
  background: rgba(0, 0, 0, 0.75);
  padding: 45px 0 50px 0;
}

.comment__text {
  font-family: 'lato-light', Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
  width:80%;
  margin: 0 auto;
}

.comment__author {
  font-family: 'lato-bold', Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  padding-right: 70px;
}

.comments_block .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin-left: 12px;
}

.comments_block .owl-dots .owl-dot.active {
  background: #ffffff;
}

.comments_block .owl-dots {
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  bottom: 4px;
  margin-left: 18px;
}

.functions_container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 78px;
  justify-content: space-between;
}

.function_item {
  width:225px;
}

.function_item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 60px;
  margin: 96px auto 15px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 20px;
  transition: 0.4s all;
}

.function_item__icon.icon-1 {
  background-color: #f1c40f;
}

.function_item__icon.icon-2 {
  background-color: #0faff1;
}

.function_item__icon.icon-3 {
  background-color: #95a5a6;
}

.function_item__icon.icon-4 {
  background-color: #f1540f;

}

.function_item h2{
  color: #303030;
  font-family: "lato-heavy";
  font-size: 18px;
  font-weight: 400;
}

.function_item p {
  margin-top:5px;
}

.function_item__icon.icon-4:hover {
  box-shadow: 0 0 25px #f1540f;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  animation: icon4 2s linear infinite;   
}

.function_item__icon.icon-3:hover {
  box-shadow: 0 0 25px #95a5a6;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.function_item__icon.icon-2:hover {
  box-shadow: 0 0 25px #0faff1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.function_item__icon.icon-1:hover {
  box-shadow: 0 0 25px #f1c40f;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}


/* footer */

.footer {
  background-color: #2a2a2a;
  padding-bottom: 55px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4a4a4a;
}

.footer-nav {
  list-style: none;
  display: flex;
  margin-bottom: 6px;
}

.footer-nav__item {
  margin-left: 46px;
  padding: 21px 0 24px;
}

.footer-nav__link {
  text-decoration: none;
  color: #686868;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-nav__link:hover {
  color: #ffffff;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  align-items: center;
}

.footer-bottom__comment {
  width: 292px;
}

.footer-bottom__comment p {
  color: #686868;
  font-family: "lato-light";
  font-weight: 300;
  line-height: 26px;
  font-size: 15px;
}

.footer-bottom__comment .comment-author {
  color: #686868;
  font-weight: 700;
  line-height: 26px;
}



.footer-help__menu {
  display: flex;
  width: 505px;
  justify-content: flex-end;
  border-right: 1px solid #393939;
  border-left: 1px solid #393939;
}

.footer-help__menu ul {
  list-style: none;
  padding: 0;
  width: 193px;
}

.footer-help__menu li {
  padding-left: 1.3em;
}

.footer-help__menu li:hover a {
  padding-left: 0.5em;
}

.footer-help__menu li:before {
  content: "\f105"; /* FontAwesome Unicode arrow*/
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-size: 14px;
  font-weight: 400;
  line-height: 29.04px;
  color: #686868;
}

.footer-menu-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  line-height: 29.04px;
  color: #686868;
}

.footer-help__menu li:hover .footer-menu-link, .footer-help__menu li:hover:before {
  color: #fffefe;
}


.footer-contacts {
  padding-top: 17px;
  width: 250px;
}

.footer-phone {
  margin-bottom: 15px;
}

.footer-phone-link {
  text-decoration: none;
  font-family: "lato-semibold";
  font-size: 14px;
  font-weight: 400;
  line-height: 29.12px;
  color: #686868;
}

.footer-email {
  margin-bottom: 7px;
}

.footer-email-link {
  text-decoration: none;
  color: #686868;
  font-family: Lato;
  font-size: 15px;
  font-weight: 300;
  line-height: 29.9px;
}

.footer-address {
  margin-top: 5px;
  color: #686868;
  font-family: Lato;
  font-size: 15px;
  font-weight: 300;
  line-height: 29.12px;
}

.footer-icon {
  padding-right: 12px;
  color: #686868;
}

.fa-phone.footer-icon {
  font-size: 15px;
  font-weight: 400;
  line-height: 29.12px;
}

.fa-envelope {
  font-size: 13px;
  font-weight: 400;
  line-height: 29.9px;
}

.footer-phone-link:hover, .footer-email-link:hover {
  color: #fffefe;
}